doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/chatroom.css')
    
    script
      literoomjs = {};
      literoomjs.chatroom_theme = '#{theme}';
      literoomjs.show_connected_users = '#{show_connected_users}';
      literoomjs.room_width = '#{room_width}';
      literoomjs.font_size = '#{font_size}';

    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/chatroom.js')

  body(id="literoomjs", onload="literoomjs.load()")
    block content
